<main class="login">
    <div class="panel panel-fireside">
        <div class="panel-heading">
            <h2 class="panel-title">Login</h2>
        </div>
        <div class="panel-body text-center">
            <button class="google" (click)="login()">
                <img src="../../assets/images/google-normal.png" alt="Sign in with Google">
            </button>
            <div class="error" role="alert" *ngIf="error">
                <h2>Oops, an error has occurred</h2>
                <div>
                    <p>
                        <strong>Message:</strong> {{error.message}}
                    </p>
                    <p>
                        <strong>Code:</strong> {{error.code}}
                    </p>
                </div>
            </div>
        </div>
    </div>
</main>
